
<!-- <table ng-repeat="table in tables" class="table table-bordered datamodel" id="{{md(table.name)}}" ng-init="tableInit();">
	<thead>
		<tr>
			<th colspan="3" ng-bind-html-unsafe="md(table.name)"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="colomn in table.colomns">
			<td style="width:10px;">
			</td>
			<td style="width:10px;" ng-bind-html-unsafe="colomn.toFKHtml">
			</td>
			<td ng-bind-html-unsafe="md(colomn)">
			</td>
		</tr>
	</tbody>
</table>
 -->

<div class="row">
 <div class="span4">
<textarea class="w100" rows="30" ng-model="datamodel"> 

</textarea>
</div>

 <div class="span8">
<svg width="100%" height="100%" id="models" >

</svg>
</div>
</div>

